textarea.form-control{
    border-left: 0;
    border-bottom-right-radius:0.25rem!important; ;
    border-top-right-radius:0.25rem!important; ;
}
.input-group>.input-group-append , textarea{
    border-left: 0;
}
.input-group>.input-group-prepend {
    flex: 0 0 20%;
}
.input-group .input-group-text {
    width: 100%;
}
.custom-input-text{
    border-bottom-right-radius:0 ;
    border-bottom-left-radius:0 ;
    border-bottom: 0;
}
.custom-input{
    border-top-right-radius:0 ;
    border-top-left-radius:0 ;
    border-bottom-left-radius:0.25rem!important;
    border-top: 0;
}