main{
    /*background: url(../img/bg.svg);*/
}
#main_body{
    position: relative;
    padding: 60px 135px;
    background: #ececec;
}

#sub_body>section{
    padding: 50px;
}

#sub_body{
    border-radius: 10px;
    background: white;
}

#side{
    margin: 0;
    padding: 0;
    font-weight: 400;
    position: sticky;
    top: calc(76px + 15px + 20px);
    display: flex;
    flex-direction: column;
    /*overflow: auto;*/
}


.header-bottom{
    border-top: 15px solid #172134;
    background: linear-gradient(110deg, #172134 calc(16.66% + 15px), rgba(13,26,49,0.6) calc(16.66% + 15px))!important;
    backdrop-filter: blur(6px);
}

.logo>a{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-7.5px);
}
.logo>a>img{
    width: 40%;
}

/* announcements */

#news_section{
    margin: 0;
    margin-bottom: 20px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex:1;
    max-height: calc(0.6 * (100vh - 76px - 15px - 20px - 20px - 20px));
}
.news-header{
    display: flex;
    align-items: center;
    justify-content: start;
    /*box-shadow: -10px 10px 0px 0px rgba(0,0,0,0.2);*/
    /*background-color: #fff1c3;*/
    /*margin:20px 20px 30px 20px;*/
    /*padding-top: 20px;*/
}
.news-header>img{
    /*width: 2em;*/
}
.news-header>h4{
    font-size: 1.25em;
    /*margin-bottom: 0;*/
    font-weight: bold;
    /*border-bottom: 2px solid #fd9b07;*/
    /*color: #fd8407;*/
    /*margin: 10px 25px;*/
    /*padding-bottom: 10px;*/
}
.news-content{
    overflow: hidden;
    padding-top: 10px;
}
.news-content>ul{
    list-style: none;
    padding: 0;
    overflow-y: auto;
}
.news-content>ul li{
    /*margin-top: 5px;*/
    background-image:
            linear-gradient(to right, #333 50%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom left;
    background-size: 10px 1px;
    background-repeat: repeat-x;
    /*margin-left: 40px;*/
    /*margin-right: 30px;*/
    padding-left: 15px;
    margin-top: 5px;
    padding-bottom: 10px;
    /*border-bottom: 1px dashed #fd8407;*/
    position: relative;
}
.news-content>ul li:last-child {
    background-image: unset;
    background-position: unset;
    background-size: unset;
    background-repeat: unset;
}
.news-content>ul li:before {
    font-family: FontAwesome;
    /*content: "\f054"; !* FontAwesome Unicode *!*/
    content: "\f0da"; /* FontAwesome Unicode */
    color: black;
    display: inline-block;
    margin-left: -15px; /* same as padding-left set on li */
    width: 10px; /* same as padding-left set on li */
    top: 0px;
    position: absolute;
}
.news-content>ul li>span a, .news-content>ul li>a a{
    /*color: #fd8407;*/
}
.news-content>ul li>a, .news-content>ul li>span{
    /*text-decoration: none;*/
    /*color: #1a1a1a!important;*/
    /*display: inline-block;*/
    /*margin-top: 5px;*/
    /*font-size: 1em;*/
    /*font-weight: normal;*/
    /*border-bottom: 1px solid transparent;*/
    /*transition: border 0.2s ease 0s;*/
}
.news-content>ul .active li>a{
    /*color: rgb(26, 26, 26);*/
    /*font-weight: 700;*/
}


/* side navigation */

#side_menu{
    margin: 0;
    /*margin-bottom: 20px;*/
    padding: 30px;
    background: white;
    border-radius: 10px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex: 2;
    max-height: calc(0.4 * (100vh - 76px - 15px - 20px - 20px - 20px));
}

.side-menu-header>h4{
    font-size: 1.25em;
    /*margin-bottom: 0;*/
    font-weight: bold;
    /*border-bottom: 2px solid #fd9b07;*/
    /*color: #fd8407;*/
    /*margin: 10px 25px;*/
    /*padding-bottom: 10px;*/
}
.side-menu-content{
    /*overflow: auto;*/
    /*padding-top: 10px;*/
}
.side-menu-content>ul{
    list-style: none;
    padding: 0;
    /*overflow-y: auto;*/
    /*box-shadow: -10px 10px 0px 0px rgba(0,0,0,0.2);*/
    /*list-style: none;*/
    /*background-color: #f1f1f1;*/
    /*margin:20px 20px 30px 20px;*/
    /*padding-top: 20px;*/
    /*flex-direction: column;*/
}
.side-menu-content>ul li{
    /*margin-top: 5px;*/
    /*background-image:*/
    /*        linear-gradient(to right, #333 50%, rgba(255, 255, 255, 0) 0%);*/
    /*background-position: bottom left;*/
    /*background-size: 10px 1px;*/
    /*background-repeat: repeat-x;*/
    /*margin-left: 40px;*/
    /*margin-right: 30px;*/
    /*padding-left: 15px;*/
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    /*border-bottom: 1px dashed #fd8407;*/
    position: relative;
}
/*.side-menu-content>ul li:last-child {*/
/*    background-image: unset;*/
/*    background-position: unset;*/
/*    background-size: unset;*/
/*    background-repeat: unset;*/
/*}*/
.side-menu-content>ul li:before {
    /*font-family: FontAwesome;*/
    /*!*content: "\f054"; !* FontAwesome Unicode *!*!*/
    /*content: "\f0da"; !* FontAwesome Unicode *!*/
    /*color: black;*/
    /*display: inline-block;*/
    /*margin-left: -15px; !* same as padding-left set on li *!*/
    /*width: 10px; !* same as padding-left set on li *!*/
    /*top: 5px;*/
    /*position: absolute;*/
}
.side-menu-content>ul li>span a, .news-content>ul li>a a{
    /*color: #fd8407;*/
}
.side-menu-content>ul li>a, .news-content>ul li>span{
    text-decoration: none;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    /*color: #1a1a1a!important;*/
    /*display: inline-block;*/
    /*margin-top: 5px;*/
    /*font-size: 1em;*/
    /*font-weight: normal;*/
    /*border-bottom: 1px solid transparent;*/
    /*transition: border 0.2s ease 0s;*/
}
.side-menu-content>ul li>a{
    transition: all 0s ease-in-out;
    padding-left: 10px  ;
    color: #243452;
}
.side-menu-content>ul li>a.active{
    margin-left: -5px;
    border-left: solid 5px #243452;
    border-radius: 5px;
    padding-top: 2px;
    background: #ececec;
    color: #092c3f;
    /*font-weight: 700;*/
    padding-bottom: 2px;
}

/*#side_nav li{*/
/*    margin-top: 5px;*/
/*    margin-left: 40px;*/
/*    margin-right: 10px;*/
/*}*/
/*#side_nav a{*/
/*    text-decoration: none;*/
/*    color: #1a1a1a;*/
/*    display: inline-block;*/
/*    margin-top: 5px;*/
/*    font-size: 1.25em;*/
/*    border-bottom: 1px solid transparent;*/
/*    transition: border 0.2s ease 0s;*/
/*}*/
/*#side_nav a.active{*/
/*    color: rgb(26, 26, 26);*/
/*    font-weight: 700;*/
/*}*/



/*#nav {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-content: center;*/
/*    justify-content: center;*/
/*    background-color: #1a110a;*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    text-align: center;*/
/*    border-radius: 4px;*/
/*    position: fixed;*/
/*    bottom: 25px;*/
/*    left: 25px;*/
/*    transition: background-color .3s,*/
/*    opacity .5s, visibility .5s;*/
/*    opacity: 0;*/
/*    visibility: hidden;*/
/*    z-index: 1000;*/
/*    text-decoration: none;*/
/*}*/
/*#nav #nav_top, #nav #nav_bottom {*/
/*    height: 15px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/
/*#nav #nav_top::after {*/
/*    content: "\f077";*/
/*}*/
/*#nav #nav_bottom::after {*/
/*    content: "\f078";*/
/*}*/
/*#nav #nav_top::after, #nav #nav_bottom::after {*/
/*    font-family: FontAwesome;*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*    font-size: 1em;*/
/*    line-height: 0px;*/
/*    color: #fff;*/
/*}*/
/*#nav:hover {*/
/*    cursor: pointer;*/
/*    background-color: #ffc50d;*/
/*}*/
/*#nav:hover #nav_bottom::after,#nav:hover #nav_top::after{*/
/*    color: #1a110a;*/
/*}*/
/*#nav:active {*/
/*    background-color: #ffc50d;*/
/*    color: #1a110a;*/
/*}*/
/*#nav.shw {*/
/*    opacity: 1;*/
/*    visibility: visible;*/
/*}*/

.section-heading{
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Segoe UI Bold';
}
.section-content{
    padding-top: 20px;
}
.section-table>tbody>tr>td{
    color: #243452;
}
.section-table>tbody>tr:first-child td{
    border-top: none;
}
.section-table>tbody>tr:last-child{
    border-bottom: none;
}
.section-table>tbody>tr>td:nth-child(2){
    text-align: right;
}
.section-table>tbody>tr>td:nth-child(1){
    padding-left: 15px;
    position: relative;
}
.section-table>tbody>tr>td:nth-child(1):before{
    font-family: FontAwesome;
    /*content: "\f054"; !* FontAwesome Unicode *!*/
    content: "\f111"; /* FontAwesome Unicode */
    color: #243452;
    font-size: 5px;
    display: inline-block;
    margin-left: -10px; /* same as padding-left set on li */
    width: 15px; /* same as padding-left set on li */
    top: 1.25rem;
    position: absolute;
}
.section-sub-heading{
    font-size: 1.25em;
    font-weight: bold;
}
.section-ul-list>li{
    list-style: unset;
    margin-left: 20px;
}

.section-ul-bordered-list>li{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    margin-left: 20px;
    border-bottom: 1px solid #e9e9e9;
    position: relative;
}
.section-ul-bordered-list>li:before{
    font-family: FontAwesome;
    /*content: "\f054"; !* FontAwesome Unicode *!*/
    content: "\f111"; /* FontAwesome Unicode */
    color: #243452;
    font-size: 5px;
    display: inline-block;
    margin-left: -10px; /* same as padding-left set on li */
    width: 15px; /* same as padding-left set on li */
    top: 15px;
    position: absolute;
}
.section-ul-bordered-list>li>span{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-ul-bordered-list>li>span>a{
    color: #243452;
}
.text-custom-light{
    color: #6d6755;
}
.text-bold{
    font-weight: bold;
}




.read_more{
    display: block;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    background: transparent;
    border: 1.5px solid #077bff;
    border-radius: 5px;
    color: #007bff;
    font-size: 1em;
    margin-top: 10px;
}
.read_more:hover{
    /*letter-spacing: 1px;*/
    /*font-weight: bold;*/
}
.read_more_content{
    display: block;
    padding-bottom: 5px;
}

footer .desktop.top{
    background: linear-gradient(110deg, #263543 calc(75% - 15px), #172134 calc(75% - 15px))!important;
    position: relative;
}
/*footer .desktop.heading{*/
/*    text-align: left;*/
/*}*/
footer .desktop.top ul {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    list-style-type: none;
}
footer .desktop.top ul li {
    /*float: left;*/
    text-align: left;
    /*display: inline-flex;*/
    position: relative;
    padding-left: 60px;
    margin-bottom: 5px;
}
footer .desktop.top ul li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: white;
    border-style: solid;
    width: 40px;
    height: 40px;
    border-width: 2px;
    position: absolute;
    left: 0;
    top: 0px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
}
footer .desktop .round-border {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}
footer .desktop.top ul li h6 {
    font-size: 18px;
    color: #ffc50d;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 900;
}
/*footer .desktop.top p {*/
/*    color: #fff;*/
/*    margin-bottom: 0;*/
/*}*/
/*footer .desktop.top .right-side p {*/
/*    color: #fff;*/
/*    margin-bottom: 0;*/
/*}*/
footer .desktop.top a {
    color: #ffffff;
}
footer .desktop.top ul li:hover .icon {
    /*background: #fff;*/
    color: #ffc50d!important;
    border-color: #ffc50d;
}
footer .desktop.top .img img{
    width: 30%;
    margin-top: 20px;
}
footer .desktop.top .quote h4{
    margin-top: 10px;
    color: #fff;
    font-size: 0.85em;
    /*color: #ffc50d;*/
}
footer .desktop.top .col-lg-3>div{
    transform: translateY(12px);
}
footer .desktop.bottom{
    background: #172134;
}
footer .desktop.bottom p{
    font-size: 0.75em;
    color: #ffffff;
    margin: 0;
    text-align: center;
}
footer .desktop.bottom p a{
    font-size: 1em;
    color: #ffffff;
    margin: 0;
    /*text-align: center;*/
}

.copy-link{
    color: #7d7d7d;
    cursor: pointer;
    background: transparent;
    margin-left: 10px;
    border-radius: 50%;
    padding: 7px;
    font-size: 12px;
}
.copy-link:hover{
    background: #eeeeee;
    color: #243452;
}
/*#copyTextElement{*/
/*display: flex;*/
/*height: 0;*/
/*width: 0;*/
/*overflow: hidden;*/
/*}*/
.arrow{
    transform: translateY(100px);
}

.link{
    color: #077bff!important;
}

.desktop{
    display: block;
}
.mobile{
    display: none;
}

@media (max-width: 575px){
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }

    .header-area .header-bottom {
        padding: 5px 0px!important;
    }
    .logo>a>img{
        width: 55px;
    }
    .logo>a{
        justify-content: start;
        transform: translateY(-5px);
    }
    .header-bottom{
        border-top-width: 10px;
        background: linear-gradient(110deg, #172134 calc(20% + 15px), rgba(13,26,49,0.6) calc(20% + 15px))!important;
    }
    .hide-on-mobile{
        display: none;
    }
    .mobile_menu .slicknav_menu .slicknav_btn {
        top: -30px;
    }
    .mobile_menu .slicknav_menu .slicknav_nav .slicknav_item a i{
        display: none;
    }
    .slider-area{
        /*top: calc(-100vh + 42px + 15px);*/
    }

    .section-heading {
        font-size: 1.75em;
    }
    .section-content {
        /*padding-top: 10px;*/
    }
    .section-table>tbody>tr>td{
        padding: 5px;
    }
    .section-table>tbody>tr>td:nth-child(1) {
        padding-left: 10px;
    }
    .section-table>tbody>tr>td:nth-child(1):before {
        top: 15px;
    }
    .section-sub-heading {
        margin-bottom: 5px;
    }
    .section-ul-bordered-list>li{
        margin: 0;
    }



    #main_body {
        padding: 15px;
    }
    #main_body .col-md-4{
        padding:0;
    }
    #sub_body>section {
        padding: 20px;
    }

    #side{
        position: absolute;
        top: unset;
        display: unset;
    }
    #side_menu, #news_section{
        background: rgba(236, 236, 236, 0.955);
        position: fixed;
        z-index: 9;
        top: 0;
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: 0;
        /*background: white;*/
        font-weight: 400;
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100vh;
        max-height: unset;
        left: 100%;
        transition: all 0.5s;
    }
    #news_section.slided, #side_menu.slided{
        left: 0;
        z-index: 11;
    }
    .news-content>ul, .side-menu-content>ul {
        height: 100%;
        overflow-y: auto;
        padding: 20px;
        background: white;
        border-radius: 10px;
    }


    .news-header, .side-menu-header{
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .side-menu-content, .news-content{
        padding: 20px;
    }
    .news-header>h4, .side-menu-header>h4{
        font-size: 1.5em;
        font-weight: 100;
        margin: 0;
        border-top-right-radius: 200px;
        border-bottom-right-radius: 200px;
        padding: 10px 30px 10px 20px;
        background: white;
    }
    .side-menu-content>ul li>a{
        font-size: 1.25em;
    }

    #announcement-btn{
        position: fixed;
        bottom: 78px;
        left: 16px;
        z-index: 9;
    }
    #nav-btn{
        position: fixed;
        bottom: 18px;
        left: 16px;
        z-index: 9;
    }
    #announcement-btn>img, #nav-btn>img{
        cursor: pointer;
        height: 50px;
        width: auto;
    }
    #announcement-btn.hide, #nav-btn.hide{
        opacity: 0;
        visibility: hidden;
    }


    footer .mobile.top a {
        color: #ffffff;
    }

    footer .mobile.top .container-fluid{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    footer .mobile.top .footer-icons{
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex: 7;
    }
    footer .mobile.top .footer-logo{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 3;
        flex-direction: column;
    }


    footer .mobile.top{
        background: linear-gradient(110deg, #263543 calc(70%), #172134 calc(70%))!important;
        position: relative;
    }
    /*footer .mobile.heading{*/
    /*    text-align: left;*/
    /*}*/
    /*footer .mobile.top ul {*/
    /*    margin-top: 20px;*/
    /*    display: flex;*/
    /*    width: 100%;*/
    /*    justify-content: space-evenly;*/
    /*    list-style-type: none;*/
    /*}*/
    /*footer .mobile.top ul li {*/
    /*    !*float: left;*!*/
    /*    text-align: left;*/
    /*    !*display: inline-flex;*!*/
    /*    position: relative;*/
    /*    padding-left: 60px;*/
    /*    margin-bottom: 5px;*/
    /*}*/
    footer .mobile.top .footer-icons .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: white;
        border-style: solid;
        width: 40px;
        height: 40px;
        border-width: 2px;
        /*position: absolute;*/
        /*left: 0;*/
        /*top: 0;*/
        text-align: center;
        line-height: 40px;
        color: #fff;
        font-size: 20px;
    }
    footer .mobile .round-border {
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%;
    }
    /*footer .mobile.top ul li h6 {*/
    /*    font-size: 18px;*/
    /*    color: #ffc50d;*/
    /*    margin-bottom: 0;*/
    /*    text-transform: uppercase;*/
    /*    font-weight: 900;*/
    /*}*/




    footer .mobile.top .footer-icons .icon:hover {
        /*background: #fff;*/
        color: #ffc50d!important;
        border-color: #ffc50d;
    }
    footer .mobile.top .footer-logo .img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer .mobile.top .footer-logo .img img{
        width: 60%;
        /*margin-top: 20px;*/
    }
    /*footer .mobile.top .footer-logo .quote h4{*/
    /*    margin-top: 10px;*/
    /*    color: #fff;*/
    /*    font-size: 0.85em;*/
    /*    !*color: #ffc50d;*!*/
    /*}*/
    footer .mobile.top .footer-logo{
        /*transform: translateY(12px);*/
    }
    footer .mobile.bottom{
        background: #172134;
    }
    footer .mobile.bottom p{
        font-size: 0.75em;
        color: #ffffff;
        margin: 0;
        text-align: center;
    }
    footer .mobile.bottom p a{
        font-size: 1em;
        color: #ffffff;
        margin: 0;
        /*text-align: center;*/
    }
}
@media (max-width: 768px) {


    /*.slided{*/
    /*    right: 0!important;*/
    /*}*/
    /*section {*/
    /*    padding: 50px 0;*/
    /*}*/

    /*#totop {*/
    /*    width: 40px;*/
    /*    height: 40px;*/
    /*    bottom: 25px;*/
    /*    right: 25px;*/
    /*}*/

    /*#totop::after {*/
    /*    line-height: 40px;*/
    /*    font-size: 1.25em;*/
    /*}*/

    #close_btn {
        display: inline-block;
        background-color: white;
        width: 40px;
        height: 40px;
        text-align: center;
        border-radius: 50%;
        position: fixed;
        top: 25px;
        right: 25px;
        transition: background-color .3s, opacity .5s, visibility .5s;
        opacity: 0;
        visibility: hidden;
        z-index: 100000;
        text-decoration: none;
    }
    #close_btn::after {
        /*content: "\f00d";*/
        content: "\2715";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 1.5em;
        line-height: 40px;
        color: #092c3f;
        cursor: pointer;
    }
    #close_btn:hover {
        /*background-color: #ffc50d;*/
    }
    #close_btn:active {
        background-color: white;
    }
    #close_btn.shw {
        transition-delay: 0.25s;
        opacity: 1;
        visibility: visible;
    }
}